#
# Virtualenv Wrapper - Provides workon support for python virtual environments
#

export WORKON_HOME={{ virtualenv_home }}
[[ -e /usr/local/bin/virtualenvwrapper.sh ]] && source /usr/local/bin/virtualenvwrapper.sh
